html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.navbar {
  background-color: #3a4852 !important;
}

hr {
  width: 50%;
  text-align: left;
  margin-left: 0;
}

#about,
#alg,
#Contribute {
  height: 100vh;
  padding-top: 10%;
}

.footer {
  background-color: #3a4852;
  color: white;
}

div.grid {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow-x: scroll;
}

div.grid-item {
  margin-bottom: 20px;
  margin-top: 10px;
}

.language-name:hover {
  border-bottom: 3px solid #1b6568;
  transition-duration: 100ms;
}

.title-container {
  height: 100vh;
  width: 100%;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.testing {
  background-color: red;
}

.arrow {
  cursor: url("/static/img/rsz_default_cur.png"), auto;
}

.arrow:hover {
  position: relative;
  top: +10px;
}

.righteous {
  font-family: "Righteous", cursive;
}

@media screen and (max-width: 1000px) {
  .responsive {
    font-size: 10vmin;
  }
}
